body {
  margin: 0;
  height: 100%;
}
#background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: inherit;
}
#mid {
  position: absolute;
  width: 49.8%;
  height: 49.7%;
  top: 25%;
  left: 25%;
}
#title {font-size: 23px;
  color: black;
  font-family:Monospace;
  font-style:bold;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 44%;
  margin: 0;
  line-height: 1em;
  margin-top: -11.5px;

}

.imageContainer {
  position: absolute;
  background: transparent;
  border-radius: 0px;
  overflow: hidden;
  opacity: 1;
  width: 24.8%;
  height: 24.7%;
}

.row1{
  top: 0%;
}
.row2{
  top: 25%;
}
.row3{
  top: 50%;
}
.row4{
  top: 75%;
}
.col1{
  left: 0%; 
}
.col2{
  left: 25%;
}
.col3{
  left: 50%;
}
.col4{
  left: 75%;
}

.view {
  position: absolute;
}
.view img {
  width: 100%;
  height:100%;
  opacity: 1;
}
.view .mask {
  margin: 0px 0px 0px 0px;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  padding-top:80px;
  background-color: rgba(212 , 213, 214 , 0.3);
  opacity: 0;
  position: absolute;
  float:left;
}

.view a.info {
  font-size: 12px;
  color: black;
  font-family:Monospace;
  background: transparent;
  padding-top: 15%;
  margin-left: 15%;
  text-align:justify;
  display:block;
}
.view p {
  font-size: 10px;
  font-family:Monospace;
  background: transparent;
  margin-left: 15%;
  margin-top: 0px;
  color: #333;
  text-align:justify;
}

.view:hover img {
  opacity: 0;
}
.view:hover .mask {
  opacity: 1;
}
.view:hover h2,.view-tenth:hover p,.view-tenth:hover a.info {
   
}

video {
  position :fixed;
  top :0;  
  left:0; 
  width: 100%;
  display: none;
}
            